/* 
	Komentarz do usunięcia w przyszłości

	Do tego arkusza dodaję wszystkie fixy
	oraz przenoszę w jedno miejsce wszystkie
	inline'owe style, które znajduję w widokach.
*/

.homepage{

}
.homepage .recommended .image-wrapper img{
width: 205px;
height: 115px;
}
.searchpage{

}
.encyclopedia{
}
.encyclopedia .category-grid>ul>li .category-item a img{
width: 235px;
height: 131px;
}
.encyclopedia .category-grid>ul>li .category-item p{

}
.encyclopedia .category-grid>ul>li .category-item p a{

}
/* ======== ZNALEZIONE INLINE'Y ======== */
.homepage p a.underlined,
.homepage p a.underlined:hover,
.homepage div.text-content a.btn {
color : #ffffff;
text-decoration: none;
}