
div.pr {
  margin : 0px 1% 0px 1%;
}

div.pr div {
  border : 0px solid black;
}

div.pr div.ml {
  width : 80%;
  border-bottom : 1px solid #eaeaea;
  border-right : 1px solid #eaeaea;
  margin : 0 auto 2em 0;
}
div.pr div.ml2 {
  width : 80%;
  border-bottom : 1px solid #eaeaea;
  border-right : 1px solid #eaeaea;
  margin : 0 auto 2em 0;
}
div.pr div.ml3 {
  width : 80%;
  border-bottom : 1px solid #eaeaea;
  border-right : 1px solid #eaeaea;
  margin : 0 auto 2em 0;
}
div.pr div.ml4 {
  width : 80%;
  border-bottom : 1px solid #eaeaea;
  border-right : 1px solid #eaeaea;
  margin : 0 auto 2em 0;
}
div.pr div.mr {
  width : 20%;
  margin : 0 0 auto auto;
  color : #828282;
  background-color : #e1e1e1;
  float : right;
}
div.pr div.mr div span {
  margin : 0 0.5em 0 1em;
}
div.pr div.mr div {
  background-color : #eaeaea;
  text-align : left;
}
div.pr div.mr div.mract {
  background-color : #d8d8d8;
}
div.pr div.mr div.mract a {
  background-color : #d8d8d8;
}
div.pr div.mr div.mract a:hover {
  background-color : #f0f0f0;
}
div.pr div.mr div:nth-child(even) {
  margin : 1px 0;
}
div.pr div.mr div:last-child {
  margin-bottom : 0;
}
div.pr div.mr div a {
  background-color : #eaeaea;
  color : #828282;
  display : block;
  padding : 1em 0;
  width : 100%;
  height : 100%;
}
div.pr div.mr a:active {
  text-decoration : none;
  color : #828282;
  background-color : #f0f0f0;
}
div.pr div.mr a:visited  {
  text-decoration : none;
  color : #828282;
  background-color : #eaeaea;
}
div.pr div.mr a:hover {
  text-decoration : none;
  color : #828282;
  background-color : #f0f0f0;
}
div.pr div.pri {
  margin: 0 0 2em 43px;
  display: inline-block;
  float: left;
  width: 95%;
}
div.pr div.prl {
  border-bottom : 1px solid #eaeaea;
  margin : 1.5em 0;
}
div.pr div.prh {
  font-size : 1.5em;
  color : #828282;
  line-height: 1.5em;
  position : relative;
}
div.pr div.prt {
  position : absolute;
  top : -0.75em;
  width : 100%;
}
div.pr div.prt span {
  background-color : #fefefe;
  padding : 0 1em;
}

div.pr div.but1 {
  font-size : 0.8em;
  color : #dfdfdf;
  width : 12em;
  margin : 0 auto 0 auto;
  border-radius : 0.3em;
  text-align : center;
  font-weight : bold;
}
div.pr div.but1 a {
  color : #dfdfdf;
  background-color : #fefefe;
  display : block;
  border : 1px solid #dfdfdf;
  width : 100%;
  height : 100%;
  padding : 0.5em 0;
  border-radius : 0.3em;
}
div.pr div.but1 a span {
  padding : 0.5em 1em;
}
div.pr div.but1 a:active {
  text-decoration : none;
  border : 1px solid #8d0917;
  background-color : #fefefe;
  padding : 0.5em 0;
  color : #8d0917;
}
div.pr div.but1 a:visited {
  text-decoration : none;
  border : 1px solid #dfdfdf;
  background-color : #fefefe;
  padding : 0.5em 0;
  color : #dfdfdf;
}
div.pr div.but1 a:hover {
  text-decoration : none;
  border : 1px solid #8d0917;
  background-color : #fefefe;
  padding : 0.5em 0;
  color : #8d0917;
}
div.pr div.but2 {
  font-size : 0.8em;
  color : #ffffff;
  margin : 0 auto 0 auto;
  border-radius : 0.3em;
  text-align : center;
  font-weight : bold;
}
div.pr div.but2 a {
  color : #ffffff;
  background-color : #bf1e2e;
  display : block;
  width : 100%;
  height : 100%;
  padding : 0.5em 0;
  border-radius : 0.3em;
}
div.pr div.but2 a span {
  padding : 0.5em 1em;
}
div.pr div.but2 a:active {
  text-decoration : none;
  background-color : #8d0917;
  padding : 0.5em 0;
}
div.pr div.but2 a:visited {
  text-decoration : none;
  background-color : #bf1e2e;
  padding : 0.5em 0;
}
div.pr div.but2 a:hover {
  text-decoration : none;
  background-color : #8d0917;
  padding : 0.5em 0;
}
div.pr div.sstno {
  width : 100%;
  text-align : center;
}
div.pr div.sstn {
  width : 15em;
  margin : 1em auto;
}
div.pr div.pri1 {
  width: 27%;
  float : left;
}
div.pr div.pri2 {
  width: 64%;
  float : left;
  /* margin: 0 0 auto 1%; */
  text-align : left;
  display: inline-block;
  padding: 25px 35px;
}
div.pr div.pri1i img.prImg {
  max-width : 100%;
  max-height : 100%;
  width : 1000%;
}
div.pr canvas {
  max-width : 100%;
  max-height : 100%;
  width : 1000%;
  min-height : 1em;
}
div.pr div.pri1ii {
  padding: 1.5em 1.5em 1.5em 1.5em;
  border : 1px solid #dfdfdf;
  min-height: 178px;
}
div.pr div.pri1r {
  position : relative;
}
div.pr div.pri1b {
  position : absolute;
  bottom : -1.2em;
  width : 100%;
}
div.pr div.pri2a div {
  width : 49%;
  float : left;
}
div.pr div.pri2a div:last-child {
  float : none;
}

div.pr div.pri2b, div.pr div.pri2c {
  margin : 0.5em 0;
}

div.pr div.pri2b div {
  width : 32%;
  float : left;
}
div.pr div.pri2b div:last-child {
  float : none;
}


div.pr div.pri2c div {
  width : 32%;
  float : left;
}
div.pr div.pri2c div:last-child {
  float : none;
}
div.pr h1, div.pr h2, div.pr h3 {
  color : #bf1e2e;
  font-weight : normal;
}
div.pr div.pri2a {
  color : #bf1e2e;
  margin : 1em 0;
}
div.pr span.prrng {
  font-weight : bold;
}
div.pr div.prf {
  width : 95%;
  margin : 0 auto auto auto;
}
div.pr div.prf1l {
  width: 19%;
  float : left;
  text-align : right;
  font-weight : bold;
  padding : 0 0.5em 0 0;
  font-size : 0.9em;
}
div.pr div.prf1r {
  text-align : left;
  width: 28%;
  float : left;
}
div.pr div.prf1r div {
  margin: 0 12px 0 0;
  /* border-radius : 0.4em; */
  /* background-color : #eaeaea; */
  /* padding : 0.4em; */
}
div.pr div.prf1r div:nth-child(even) {
  margin: 0.5em 12px 0.5em 0;
}
div.pr div.prf1r div:last-child {
  margin-bottom : 0;
}
div.pr div.prf1l div {
  margin : 0;
  padding: 12px 3px;
  max-height : 1.2em;
}
div.pr div.prf1l div:nth-child(even) {
  margin : 0.5em 0;
}
div.pr div.prf1l div:last-child {
  margin-bottom : 0;
}
div.pr div.prf1r input {
  width : 100%;
  background-color : #eaeaea;
  background: #eaeaea;  color: #000;  
  border: 0px;  outline: none;    
  padding: 11px 21px;  font-family: 'proxima-nova-n4',"proxima-nova",sans-serif;  font-weight: 400;  font-size: 16px;  font-size: 1.6rem;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  -ms-box-sizing: border-box;  box-sizing: border-box;  
  /* border-radius: 5px; */  border-radius: .5rem;
}
div.pr div.prf1h {
  width: 103%;
  float : left;
}
div.pr div.prf1b {
  display : none;
  color : #bf1e2e;
  width : 29%;
  float : left;
  text-align : justify;
  font-size : 0.9em;
  padding : 0.5em;
  border : 1px solid #eaeaea;
}
div.pr div.favil img.favImg {
  max-width : 100%;
  max-height : 100%;
  width : 1000%;
}
div.pr div.favil {
  width : 30%;
  float : left;
  padding : 2%;
}
div.pr div.favir {
  padding : 2%;
  width : 61%;
  float : left;
}
div.pr div.favirl > div {
  width : 49%;
  float : left;
}
div.pr div.favi {
  text-align : left;
}
div.pr div.favir > div:nth-child(even) {
  margin : 0.5em 0;
}
div.pr div.favir > div:last-child {
  margin-bottom : 0;
}
div.pr div.favirh {
  padding : 0 0 0.5em 0;
  border-bottom : 1px solid #eaeaea;
}
div.pr img.staImg {
  width : 1.05em;
  height : 1em;
}
div.pr div.but3 {
  font-size : 0.8em;
  color : #ffffff;
  margin : 0 auto 0 auto;
  border-radius : 0.3em;
  text-align : center;
  font-weight : bold;
}
div.pr div.but3 a {
  color : #ffffff;
  background-color : #bf1e2e;
  display : block;
  width : 100%;
  height : 100%;
  padding : 0.5em 0;
  border-radius : 0.3em;
}
div.pr div.but3 a span {
  padding : 0.5em 1em;
}
div.pr div.but3 a:active {
  text-decoration : none;
  background-color : #8d0917;
  padding : 0.5em 0;
}
div.pr div.but3 a:visited {
  text-decoration : none;
  background-color : #bf1e2e;
  padding : 0.5em 0;
}
div.pr div.but3 a:hover {
  text-decoration : none;
  background-color : #8d0917;
  padding : 0.5em 0;
}
div.pr div.favirl1 {
  padding : 0.5em 0 0 0;
}
div.pr div.but3 span.spc {
  padding : 0 0 0 1em;
}
div.pr div.favi:nth-child(even) {
  background-color : #f7f7f7;
}
div.pr div.aph > div {
  width : 33%;
  background-color : #000000;
  color : #ffffff;
  float : left;
}
div.pr div.aph > div:last-child {
  float : none;
}
div.pr div.aph a {
  font-family: 'proxima-nova-n7',"proxima-nova",sans-serif;  font-weight: 700;
  display: block;  
  padding: 15px 63px;    color: #fff;  
  text-align: center;  text-transform: uppercase;
}
div.pr div.aph a span {
    font-family: 'proxima-nova-n7',"proxima-nova",sans-serif;  font-weight: 700;

    word-wrap: break-word;
}
div.pr div.aph a:active {
  text-decoration : none;
  background-color : #8d0917;
}
div.pr div.aph a:hover {
  text-decoration : none;
  background-color : #8d0917;
}
div.pr div.aph a:visited {
  text-decoration : none;
}
div.pr div.aph > div.aphs {
  background-color : #bf1e2e;
}
div.pr div.apb {
  z-index : 2;
}
div.pr div.apb img.sitImg {
  max-width : 100%;
  max-height : 100%;
  width : 1000%; 
}
div.pr div.ap1m {
  width : 20%;
  float : left;
}
div.pr div.ap1t {
  width : 78%;
  float : left;
}
div.pr div.apta {
  min-width : 65%;
  width : 10em;
  margin : 0 auto;
  background-color : #eaeaea;
  border : 1px solid #828282;
  border-radius : 0.4em;
  padding : 0.5em;
}
div.pr div.apta textarea {
  width : 95%;
  resize : vertical;
  background-color : #eaeaea;
  color : #000000;
  border : 0px;
}
div.pr div.apoi {
  width : 60%;
  margin : 0 auto;
  padding : 0.5em 0 0.5em 0;
}
div.pr div.apoi > div {
  width : 49%;
  float : left;
}
div.pr div.apoi > div:last-child {
  float : none;
}
div.pr div.apoi > div:first-child {
  text-align : left;
}
div.pr div.apo {
  display : none;
  margin : 0.5em 0 0 0;
}
div.pr div.apti {
  margin : 0.5em auto 0 0;
}
div.pr div.aptb {
  background-color : #bf1e2e;
  color : #ffffff;
  border : 1px solid transparent;
}



/* ==========  */



div.pr div.aptb a {
  background-color : #bf1e2e;
  color : #ffffff;
  display : block;
  width : 100%;
  height : 100%;
  padding : 0.5em 0;
}
div.pr div.aptb a:active {
  text-decoration : none;
  background-color : #8d0917;
}
div.pr div.aptb a:hover {
  text-decoration : none;
  background-color : #8d0917;
}
div.pr div.aptb a:visited {
  text-decoration : none;
}
div.pr div.ap1d {
  padding : 0.5em 0;
}
div.pr div.ap1d span {
  border : 1px solid #eaeaea;
  border-radius : 0.4em;
  padding : 0.2em 1em;
  color : #828282;
  background-color : #f0f0f0;
}
div.pr div.ap1p {
  font-size : 0.9em;
  color : #828282;
}
div.pr div.ap1p1 {
  width : 40%;
  float : left;
  text-align : right;
  padding : 0 0.5em 0 0;
}
div.pr div.ap1p2 {
  width : 50%;
  float : left;
  text-align : left;
  color : #8d0917;
}
div.pr div.ap1ss {
  color : #188f34;
}
div.pr div.ap1se {
  color : #bf1e2e;
}
div.pr div.apob {
  width : 10em;
  margin : 0.5em auto;
}
div.pr div.ap1i {
  border-top : 1px solid #eaeaea;
  border-left : 1px solid #eaeaea;  
}
div.pr div.aplmi {
  padding : 0.5em;
}
div.pr div.aplmi div {
  border : 1px solid #000000;
  line-height : 0;
}
div.pr div.ap1 div.ap1i:nth-child(even), div.pr div.ap3 div.ap1i:nth-child(even) {
  background-color : #fafafa;
}

div.pr div.noneedop {
  display : none;
}
div.pr div.con {
  display : block;
}
div.pr div.ncon {
  display : none;
}
div.pr div.appno {
  margin : 0.5em 0;
  width : 100%;
  z-index : 1;
}
div.pr div.el3g div {
  width : 33%;
  float : left;
  font-weight : bold;
}
div.pr div.el3g select {
  background-color : #eaeaea;
}
div.pr div.cfgvl {
  width : 30%;
  float : left;
  font-weight : bold;
}
div.pr div.cfgvr {
  width : 70%;
  float : left;
}
div.pr div.cfgvl input {
  max-width : 5em;
  background-color : #eaeaea;
}
div.pr div.cfgvr textarea {
  width : 100%;
}
div.pr div.mcat {
  background-color : #de3f4f;
  padding : 0.5em;
  color : #ffffff;
}
div.pr div.scat {
  background-color : #8d1522;
  padding : 0.5em;
  color : #ffffff;
}
div.pr div.trt {
  background-color : #8d0917;
  padding : 0.5em;
  color : #ffffff;
}
div.pr div.trt a {
  color : #ffffff;
  font-size : 1.1em;
}


/* ---------- search --------------- */


div.sr {
  margin : 0px 1% 0px 1%;
}

div.sr div {
  border : 0px solid black;
}

div.sr div.ml {
  width : 20%;
  margin : 0 auto 2em 0;
}

div.sr div.mr {
  width : 80%;
  margin : 0 0 auto auto;
  float : right;
}
div.sr div.tph {
  background-color : #000000;
  color : #ffffff;
  padding : 1em;
  
}
div.sr div.tph div {
  float : left;
}
div.sr div.tph div:last-child {
  float : none;
}
div.sr div.itimgd {
  width : 20%;
  float : left;
}
div.sr div.itimgd img {
  max-width : 100%;
  max-height : 100%;
  width : 1000%;
}
div.sr div.ithld {
  padding : 0.5em;
  border : 1px solid #000000;
}



div.pr div.srhsd {
  background-color : #bf1e2e;
  text-align : left;
}
div.pr div.slc1 {
  width : 78%;
  float : left;
}
div.pr div.slc2 {
  width : 20%;
  text-align : center;
  margin : 0 0 0 auto;
}



div.pr div.but6 {
  background-color : #bf1e2e;
  color : #ffffff;
  border-radius : 0.3em;
  border : 1px solid transparent;
  text-align : left;
  font-weight : bold;
}
div.pr div.but6 a {
  color : #ffffff;
  display : block;
  width : 100%;
  height : 100%;
  padding : 0.5em 0;
  border-radius : 0.3em;
}
div.pr div.but6 a span {
  padding : 0.5em 1em;
}
div.pr div.but6 a:active, div.pr div.but6 a:visited, div.pr div.but6 a:hover {
  text-decoration : none;
  background-color : #bf1e2e;
  padding : 0.5em 0;
}
div.pr div.but7 {
  background-color : #bf1e2e;
  color : #ffffff;
  border-radius : 0.3em;
  border : 1px solid transparent;
  text-align : center;
  font-weight : bold;
}
div.pr div.but7 a {
  color : #ffffff;
  display : block;
  width : 100%;
  height : 100%;
  padding : 0.5em 0;
  border-radius : 0.3em;
}
div.pr div.but7 a span {
  padding : 0 0.5em;
}
div.pr div.but7 a:active, div.pr div.but7 a:visited, div.pr div.but7 a:hover {
  text-decoration : none;
  background-color : #bf1e2e;
  padding : 0.5em 0;
}
div.pr div.slc {
  background-color : #8d0917;
  font-size : 1.1em;
  text-align : left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select : none;
  cursor : default;
}
div.pr div.slc1 {
  width : 78%;
  float : left;
}
div.pr div.slc2 {
  width : 20%;
  text-align : center;
  margin : 0 0 0 auto;
}




/* =========== */





















div.pr div.but4 {
  background-color : #8d0917;
  color : #ffffff;
  border-radius : 0.3em;
  border : 1px solid transparent;
  text-align : left;
  font-weight : bold;
}
div.pr div.but4 a {
  color : #ffffff;
  display : block;
  width : 100%;
  height : 100%;
  padding : 0.5em 0;
  border-radius : 0.3em;
}
div.pr div.but4 a span {
  padding : 0.5em 1em;
}
div.pr div.but4 a:active, div.pr div.but4 a:visited, div.pr div.but4 a:hover {
  text-decoration : none;
  background-color : #8d0917;
  padding : 0.5em 0;
}
div.pr div.but5 {
  background-color : #8d0917;
  color : #ffffff;
  border-radius : 0.3em;
  border : 1px solid transparent;
  text-align : center;
  font-weight : bold;
}
div.pr div.but5 a {
  color : #ffffff;
  display : block;
  width : 100%;
  height : 100%;
  padding : 0.5em 0;
  border-radius : 0.3em;
}
div.pr div.but5 a span {
  padding : 0 0.5em;
}
div.pr div.but5 a:active, div.pr div.but5 a:visited, div.pr div.but5 a:hover {
  text-decoration : none;
  background-color : #8d0917;
  padding : 0.5em 0;
}
div.pr div.srhs div.trs {
  display : none;
}

div.pr div.trth {
  background-color : #7c1621;
}

div.pr div.trth1 {
  width : 31%;
  text-align : left;
  float : left;
  color : #ffffff;
  padding : 0.5em 0;
}
div.pr div.trth2 {
  width : 10%;
  float : left;
  color : #ff95a0;
  background-color : #6c0611;
  padding : 0.5em 0;
}
div.pr div.trth3 {
  width : 18%;
  float : left;
  padding : 0.5em 0;
}
div.pr div.trth4 {
  width : 16%;
  float : left;
  margin : 0 1%;
}
div.pr div.trth5 {
  width : 18%;
  float : left;
}

div.pr div.cfg1 select, div.pr div.cfg3 select {
  background-color : #eaeaea;
}
div.pr div.wrkhr div.wrkhi1a {
  margin : auto auto auto 0;
  text-align : right;
  float : left;
  width : 39.5%;
}
div.pr div.wrkhr div.wrkhi2a {
  margin : auto 0 auto auto;
  text-align : left;
  width : 59.5%;
}
div.pr div.wrkhr div.wrkhi1 {
  margin : auto auto auto 0;
  text-align : right;
  float : left;
  width : 23.2%;
}
div.pr div.wrkhr div.wrkhi2 {
  margin : auto auto auto 1%;
  text-align : left;
  float : left;
  width : 38.2%;
}
div.pr div.wrkhr div.wrkhi3 {
  margin : auto 0 auto auto;
  text-align : left;
  width : 38.2%;
}
div.pr div.facdsci1 {
  text-align : right;
  width : 19%;
  margin : auto auto auto 0;
  float : left;
}
div.pr div.facdsci2 {
  text-align : left;
  width : 75%;
  margin : auto 4% auto auto;
}
div.pr div.emplio {
  background-color : #eeeeee;
}
div.pr div.empli1 {
  width : 69.5%;
  text-align : left;
  float : left;
  margin : auto auto auto 0;
}
div.pr div.empli2 {
  margin : auto 5% auto auto;
  width : 19.5%;
  font-size : 0.9em;
}
div.pr div.wrkprsi1 {
  width : 69.5%;
  text-align : left;
  margin : auto auto auto 0;
  float : left;
  padding : 0.5em 0 0 1em;
  font-weight : bold;
  font-size : 1.1em;
}
div.pr div.wrkprsi1 input {
  font-size : 1.1em;
}
div.pr div.wrkprsi2 {
  width : 29.5%;
  margin : auto 0 auto auto;
}
div.pr div.wrkprs select {
  background-color : #eaeaea;
  border-radius : 0.5em;
  color : #000000;
  margin : 0.2em auto 0.2em auto;
}
div.pr div.wrkprs {
  background-color : #bf1e2e;
  margin : 0 0 0.5em 0;
  color : #ffffff;
}
div.pr div.row div.skin-grey-white {
  border: solid #dfdfdf;
  border-width: 2px;
  color: #b5b5b5 !important;
  background-color: #fff;
}
div.pr div.row div.skin-grey-white a {
  display : block;
  width : 100%;
  height : 100%;
  color: #b5b5b5 !important;
}
div.pr div.row div.skin-grey-white:hover{
  color: #8d0917 !important;
  border-color: #8d0917;
}
div.pr div.row div.skin-grey-white:hover a{
  color: #8d0917 !important;
}
div.pr div.row div.skin-red a {
  color : #ffffff;
  display : block;
  width : 100%;
  height : 100%;
}

div.pr div.wrkNmHi1 div.wrkNmHi11 {
  text-align : left;
}
div.pr div.wrkNmHi1 {
  width : 39.5%;
  float : left;
  text-align : right;
  margin : auto auto auto 0;
}
div.pr div.wrkNmHi2 {
  width : 59.5%;
  text-align : left;
  margin : auto 0 auto auto;
}
div.emlsd2 {
  display : none;
}
div.emlsd2 .ta-c .btn.skin-red:hover{
  border-color: #8d0917;
  background: #8d0917;
  color: #fff;
}

div.pr div.prfgal div.pri1 {
  width : 31%;
  margin: 1.6% 1.1%;
  float : left;
  /* margin : auto auto 2em auto; */
  min-height: 206px;
}
div.pr div.ml5 {
  width : 80%;
  border-bottom : 1px solid #eaeaea;
  border-right : 1px solid #eaeaea;
  margin : 0 auto 2em 0;
}
div.pr div.ml6 {
  width : 80%;
  border-bottom : 1px solid #eaeaea;
  border-right : 1px solid #eaeaea;
  margin : 0 auto 2em 0;
}
div.pr div.ml7 {
  width : 80%;
  border-bottom : 1px solid #eaeaea;
  border-right : 1px solid #eaeaea;
  margin : 0 auto 2em 0;
}
div.pr div.ml8 {
  width : 80%;
  border-bottom : 1px solid #eaeaea;
  border-right : 1px solid #eaeaea;
  margin : 0 auto 2em 0;
}
div.aptnwstl {
  width : 78%;
  margin : auto 0 auto auto;
}
div.pr div.aptnwstl1 {
  width : 50%;
  margin : auto auto auto 0;
  float : left;
  font-weight : bold;
}
div.pr div.aptnwstl1 select {
  background-color : #eeeeee;
}
div.pr div.aptnwstl1a input {
  background-color : #bf1e2e;
  border-radius : 0.4em;
  border : 1px solid #eaeaea;
  padding : 0.5em;
  color : #ffffff;
}
div.pr div.aptnwstl2 {
  width : 50%;
  margin : auto 0 auto auto;
  font-weight : bold;
}

.profile-data-info{
display: inline-block;
float: left;
width: 40%;
height: 120px;
border: solid #eaeaea !important;
border-width: 0.2rem;
border-radius: .5rem;
color: #bf1e2e;
padding: 2rem !important;
}
